/data_raw/*
data/final_data_raw
/data/final_data_raw
./data/final_data_raw
/data_processed/*
data/final_data_processed
/data/final_data_processed
./data/final_data_processed
!/data_raw/.gitkeep
!/data_processed/.gitkeep
gephi_data/


.env
.cache

.DS_Store